[Unit]
Description=RightScale RightLink
After=rightscale.service network.target
Requires=network.target
Conflicts=rightscale-decommission.target

[Service]
Type=simple
RemainAfterExit=yes
TimeoutSec=360
ExecStart=/usr/bin/rightlink_start
ExecReload=/usr/bin/rightlink_reload

[Install]
WantedBy=multi-user.target